.idea
node_modules
**/*.js
**/*.d.ts
**/*.js.map
**/*.d.ts.map
*.tsbuildinfo
**/dist/
**/coverage/
!jest.config.base.js
!**/jest.config.js
!exports/node/vitest.d.ts
!packages-libs/docs/api-docs/dist-ui/**/*.js
.verdaccio/storage/
docs-web/src/
docs-web/build/
docs-web/.vitepress/cache/